<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>iVault.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E31EE4A1CC15484008B725C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E31EE611CC15485008B725C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E31EE6C1CC15486008B725C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EBF2A291CD65E7C00076342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EBF2A3E1CD66BDD00076342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EBF2A541CD6732A00076342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
